/* Fonts */

@font-face {
  font-family: "Gilmer";
  src: url("../fonts/Gilmer-Regular.otf");
}

@font-face {
  font-family: "Gilmer Bold";
  src: url("../fonts/Gilmer-Bold.ttf");
}

/* General */

.text {
  color: rgb(150, 102, 169);
}

::placeholder {
  font-family: "Gilmer";
}
body {
  background-color: rgb(229, 212, 236);
}

.regular-font {
  font-family: "Gilmer";
}

.bold-font {
  font-family: "Gilmer Bold";
}

.dark-blue-font {
  color: rgb(0, 30, 107);
}

.container {
  margin-left: 15%;
}

:root {
  --dark-blue: rgb(0, 30, 107);
  --light-blue: rgb(178, 223, 255);
}
/* Nav bar */

nav {
  overflow: hidden;
  top: 1.05px;
  position: absolute;
  width: 98.5%  ;
}

ul {
  list-style-type: none;
  overflow: hidden;
  padding-right: 1.4em; 
}

li {
  display: inline;
}


li a {
  padding: 1em;
  text-decoration: none;
  font-size: 1.5em;
  color: black;
  font-family: "Gilmer Bold";
}

#ss-logo {
  margin-top: -0.7em;
  margin-left: 1.5em;
  float: left;
  width: 140px;
  height: 140px;
}

#nav-options {
  float: right;    
}
/*
sell-form {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, sans-serif;
}
*/
header {
  font-size: 28px;
  padding-bottom: 0;
}
body {
  margin-top: 30px;
  font-size: 14px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(229, 212, 236);
}
.container{
  font-family: "Gilmer Bold";
  top: 1px;
  max-width: 500px;
  position: relative;
  width: 100%;
  border-radius: 6px;
  padding: 30px;
  margin: 100px 15px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0,0,0,1); 
}
.container form{
  position: relative;
  margin-top: 16px;
  min-height: 200px;
}
.container form .details{
  margin-top: 10px;
}
.container form .title{
  font-size: 20px;
  font-weight: 400;
  margin: 6px 0;
  color: black;
}
.container form .fields{
  margin: 20px 0 10px;
}
form .fields .label{
  margin: 12px 0 7px;
  display: block;
  font-size: larger;
}
.label .multi-select{
  font-family: "Gilmer";
}
.fields .label .input-field input{
  height: 25px;
  width: 40%;
  outline: none;
  margin-top: 5px;
  font-size: medium;
  border-radius: 5px;
  padding-left: 8px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
}
form .label .multi-select {
  margin-top: 5px;
  font-size: medium;
}
form .label .large-input-field{
  margin: 5px 0;
}
.large-input-field textarea{
  height: 70px;
  width: 100%;
  outline: none;
  font-size: large;
  margin-top: 5px;
  font-size: medium;
  border-radius: 5px;
  padding-left: 8px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
}
form .fields .upload-field{
  margin: 5px 0;
}
.upload-field 
form .fields .social-media-field{
  margin: 5px 0;
}
.social-media-field input{
  height: 25px;
  width: 50%;
  outline: none;
  margin-top: 5px;
  font-size: medium;
  border-radius: 5px;
  padding-left: 8px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
}
form .submit .submit-label{
  margin: 15px 0 5px 0;
}
form .button{
  height: 30px;
  margin: 5px 0;
}
form .submit-button input{
  cursor: pointer;
  font-family: "Gilmer Bold";
	text-decoration: none;
	color: white;
  font-size: 1em;
	background-color: var(--dark-blue);
	border-color: var(--dark-blue);
	padding: 10px;
	border-radius: 10px;
	border-style: solid;
  margin-top: 1em;
	border-width: 3px;
	transition: 0.15s ease-in;
}
form .submit-button input:hover{
  background-color: white;
	border-color: var(--dark-blue);
	color: var(--dark-blue);
}