/* Fonts */

@font-face {
    font-family: "Gilmer";
    src: url("Fonts/Gilmer-Regular.otf");
}

@font-face {
    font-family: "Gilmer Bold";
    src: url("Fonts/Gilmer-Bold.ttf");
}

body {
	background-color: rgb(253, 255, 221);
	align-items: center;
	text-align: center;
}
/* Nav bar */

nav {
    top: 0;

}

ul {
    list-style-type: none;
    overflow: hidden;
    padding-right: 1.5em; 
}

li {
    display: inline;
}


li a {
    padding: 1em;
    text-decoration: none;
    font-size: 1.3em;
    color: black;
    font-family: "Gilmer Bold";
}

#ss-logo {
	margin-top: -0.7em;
    margin-left: 1.5em;
    float: left;
	width: 140px;
    height: 140px;
}

#nav-options {
    float: right;    
}

/* About */
#about-title {
    font-family: "Gilmer Bold";
    font-size: 6em;
    margin-top: 2em;
    margin-bottom: 0;
}
#about-subtitle {
    font-family: "Gilmer";
    font-size: 1.7em;
    margin-bottom: 2em;
}