/* Fonts */

@font-face {
    font-family: "Gilmer";
    src: url("Fonts/Gilmer-Regular.otf");
}

@font-face {
    font-family: "Gilmer Bold";
    src: url("Fonts/Gilmer-Bold.ttf");
}

/* General */

body {
	background-color: rgb(121, 199, 255);

}

.regular-font {
	font-family: "Gilmer";
}

.bold-font {
	font-family: "Gilmer Bold";
}

.dark-blue-font {
	color: rgb(0, 30, 107);
}

.container {
    margin-left: 15%;
}

:root {
	--dark-blue: rgb(0, 30, 107);
}
/* Nav bar */

nav {
    top: 0;

}

ul {
    list-style-type: none;
    overflow: hidden;
    padding-right: 1.5em; 
}

li {
    display: inline;
}


li a {
    padding: 1em;
    text-decoration: none;
    font-size: 1.3em;
    color: black;
    font-family: "Gilmer Bold";
}

#ss-logo {
	margin-top: -0.7em;
    margin-left: 1.5em;
    float: left;
	width: 140px;
    height: 140px;
}

#nav-options {
    float: right;    
}

/* Home */



#home-title {
	font-family: "Gilmer Bold";
	font-size: 6em;
	margin-top: 2em;
    margin-bottom: 0;
}

#home-subtitle {
	font-family: "Gilmer";
	font-size: 1.7em;
	margin-bottom: 2em;
}

#browse-button {
	font-family: "Gilmer Bold";
	color: white;
	background-color: var(--dark-blue);
	font-size: 1.3em;
	text-decoration: none;
	padding: 13px;
	border-radius: 10px;
}

#fbg {
	width: 110%;
	height: 110%;
	margin-top: -13em;
	margin-left: -2em;
	margin-right: -2em;

}

/* About page */
#about-title {
	font-family: "Gilmer Bold";
	font-size: 6em;
	margin-top: 2em;
    margin-bottom: 0;
}
#about-subtitle {
	font-family: "Gilmer";
	font-size: 1.7em;
	margin-bottom: 2em;
}
